<link rel = "stylesheet" href="/css/FeaturedCompanies.css">
<section class="featured" id="companies">
  <h1 class="section-title">Featured Companies</h1>
  <div class="featured-wrapper">
    <div class="featured-card">
      <img class="featured-image" src="/images/ebay.png" alt="Ebay logo" />
      <p>Ebay</p>
    </div>
    <div class="featured-card">
      <img class="featured-image" src="/images/wipro.png" alt="Wipro logo" />
      <p>Wipro</p>
    </div>
    <div class="featured-card">
      <img class="featured-image" src="/images/google.png" alt="Google logo" />
      <p>Google</p>
    </div>
    <div class="featured-card">
      <img class="featured-image" src="/images/microsoft.webp" alt="Microsoft logo" />
      <p>Microsoft</p>
    </div>
    <div class="featured-card">
      <img class="featured-image" src="/images/ibm.png" alt="IBM logo" />
      <p>IBM</p>
    </div>
    <div class="featured-card">
      <img class="featured-image" src="/images/facebook.jpeg" alt="Facebook logo" />
      <p>Facebook</p>
    </div>
  </div>
</section>
