<link rel = "stylesheet" href="/css/Footer.css">
<footer>
    <div class="footerContainer">
      <div class="footernav">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/job_listing">Jobs</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/signin">SignIn</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  