<link rel = "stylesheet" href="/css/Herosection.css">
<section class="join">
    <div class="join-detail">
      <h1 class="section-title">START YOUR NEW JOB WITH US</h1>
    </div>
    <button class="join-btn">
      <a href="/job_listing">Browse Jobs</a>
    </button>
  </section>
  