.testimonial-container {
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding: 2rem;
    background-color: #D3D3D3;
    border-radius: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 5rem auto;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.title h2 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
    color: #333;
}

.title p {
    font-size: 1rem;
    color: #777;
}

/* Slider container */
.slider-container {
    position: relative;
    user-select: none;
    padding-inline: 1rem;
   

}



.slider-container .review-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-inline: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Splide customization */
.splide__track {
    border-radius: 1rem;
}

.splide__slide {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 3rem 1.875rem;
    border-radius: 1rem;
    height: 280px;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);

}



.slider-container .content .text {
    color: #484646;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-style: italic;
}

.slider-container .content .rating {
    display: inline-block;
    line-height: 1;
}

.slider-container .content .star {
    color: #ff6f59;
    font-size: 1.1rem;
}

.slider-container .content .user {
    font-weight: 600;
    color: #333;
}

.splide__pagination__page.is-active {
    background-color: #ff6f59;
}

.splide__arrow {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #505050;
    font-weight: 300;
}

.splide__arrow--prev {
    top: 50%;
    left: -3.5rem;
}

.splide__arrow--next {
    top: 50%;
    right: -3.5rem;
}

.splide__pagination__page {
    height: 10px;
    width: 10px;
    opacity: 1;
    transition: transform 0.2s ease;
}

.splide__pagination__page:hover {
    transform: scale(1.2);
}

/* Media Query */
@media (max-width: 576px) {
    .splide__slide {
        display: block;
        text-align: center;
    }

    .splide__arrow {
        font-size: 1.5rem;
    }

    .splide__arrow--prev {
        left: 0.5rem;
    }

    .splide__arrow--next {
        right: 0.5rem;
    }

    .slider-container .bottom-quote {
        right: 0;
    }
}